body{
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

*{
    box-sizing: border-box;
}

.container{
    width: 100%;
    padding: 0 30px;
}

.clear{
    clear: left;
}

/*以下ヘッダの情報*/

header{
    height: 60px;
    width: 100%;
    background-color: rgba(70, 36, 5, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-top{
    margin: 10px 0;
}

.logo{
    font-weight: bold;
    color: aliceblue;
    font-size: 30px;
}

.header2{
    height: 50px;
    width: 100%;
    background-color: rgb(20, 27, 95, 0.9);
    position: fixed;
    top: 60px;
    z-index: 10;
    color: aliceblue;
    font-size: 15px;
}

/*以下コンテンツの情報*/

main{
    background-color: antiquewhite;
    margin-top: 110px;
}

.book{
    width: 35%;
    float: left;
    text-align: center;
    margin: 40px 0 0;
}

.content{
    width: 65%;
    float: right;
    padding: 30px 20px;
    margin-top: 40px;
}

/*以下フッタの情報*/

footer{
    background-color: rgb(70, 36, 5);
    width: 100%;
    color: aliceblue;
}

.footer-logo{
    float: left;
    font-weight: bold;
    font-size: 25px;
}

/*スマホ用のメディアクエリ*/

@media(max-width: 670px){
    .book{
        width: 100%;
    }

    .content{
        width: 100%;
        float: left;
    }
}